<div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Hello everyone!</h1>
    <h2 class="display-5 text-center">I'm Ignacio, you can call me Nacho if you like.</h2>
    <hr class="my-4">
    <p class="text-center">Thank you for giving me this opportunity to take this technical test,
         especially this chance. Just thank you :,D 
    </p>
    <p class="text-center">
         To start the project, do the following:  
    </p>
    <ul>
        <li>
            1- "mongod" in a separate terminal
        </li>
        <li>
            2- "npm run dev" in a terminal located in the project. 
        </li>
    </ul>
          
       <p class="text-center">
             I hope you like this, thank you.
       </p>  
   
</div>