<h1 class="text-center">OPTIONS</h1>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <a href="/user/listuser" class="btn btn-primary w-100">User List</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <a href="/user/newuser" class="btn btn-primary w-100">Add User</a>
      </div>
    </div>
  </div>
</div>